<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="SnD" connectionString="SERVER=KHOLW7NU31196R3\MSSQLSERVER_2008;User ID=sa;Password=Unilever123;Initial Catalog=SidatHyder_SnD" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SnD" connectionString="SERVER=145.17.55.103;User ID=sndpro;Password=ulkbo@centegy;Initial Catalog=Noor_CSDP" providerName="System.Data.SqlClient"/>-->

    <!--<add name="SnD" connectionString="SERVER=145.17.55.103;User ID=sndpro;Password=ulkbo@centegy;Initial Catalog=Centegy_SnDPro_ULK" providerName="System.Data.SqlClient"/>-->
    <add name="Cnn" connectionString="SERVER=BCBLR-VP3580;User ID=sa;Password=*huma1234*;Initial Catalog=INTERFACES" providerName="System.Data.SqlClient"/>


  </connectionStrings>
  <appSettings>
    <add key="Mail_Server" value="aieduplinwg0005.s2.ms.unilever.com"/>
    <add key="Mail_Port" value="25"/>
    <add key="Mail_From" value="AWS-DUB-PRODInterface@unilever.com"/>

    <add key ="Attachment_path" value="\\10.216.36.10\Interface\reports\CSDPReports\"/>
    <add key ="LogFile_Path" value="E:\Interface\outbound\Log\"/>

    <add key="Mail_To"  value="Raneesh.Rajeevan@unilever.com,Veena.Ravi@unilever.com,veena.r@bluechipsw.com"/>
    <add key="Mail_Copy"  value="Raneesh.Rajeevan@unilever.com"/>
  </appSettings>
</configuration>